<div class="flex">
  <div>
    <div *ngIf="(products$ | async).length > 0">
      <p>Items list:</p>
      <p *ngFor="let product of products$ | async">
          {{product.title}}
          <button (click)="editProduct(product.id)" class="btn-option">Edit</button>
          <button (click)="deleteProduct(product.id)" class="btn-option">Delete</button>
      </p>
    </div>
    <button (click)="addNewItem()" class="btn btn-primary">Add item</button>
  </div>
  <div *ngIf="formState$ | async as formState" [formState]="formState">
    <form [ngrxFormState]="formState" *ngIf="(isFormDisplayed$ | async)">
      <div class="form-inline">
        <div class="form-group">
          <p>Add/Edit Form:</p>
          <label>Title:
            <input [ngrxFormControlState]="formState.controls.title"/>
          </label>
          <label>Email:
            <input [ngrxFormControlState]="formState.controls.email"/>
          </label>
          <label>Age:
            <input [ngrxFormControlState]="formState.controls.age"/>
          </label>
          <label>Profession:
            <input [ngrxFormControlState]="formState.controls.profession" placeholder="age > 18"/>
          </label>
        </div>
      </div>
      <button (click)="saveProduct()" *ngIf="displaySave" class="btn btn-primary"
        [disabled]="formState.isInvalid">
        Save
      </button>
      <button (click)="updateProduct()" *ngIf="displayUpdate" class="btn btn-primary"
        [disabled]="formState.isInvalid">
        Update
      </button>
      <button (click)="cancel()" class="btn">
        Cancel
      </button>
    </form>

    <ul *ngIf="formState.isInvalid && formState.isDirty">
      <li *ngIf="formState.errors._title?.required">
          Title is required
      </li>
      <li *ngIf="formState.errors._email?.required">
        Email is required
      </li>
      <li *ngIf="formState.errors._age?.required">
        Age is required
      </li>
      <li *ngIf="formState.errors._age?.greaterThan">
        Age must be greater than 0
      </li>
      <li *ngIf="formState.errors._profession?.pattern">
        Proffesion must contain only letters
      </li>
    </ul>
  </div>
</div>
